html {
    background-color: #0dcaf0;
}

main {
    background-color: #0dcaf0;
}

#formStyle {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    background-color: #0dcaf0;
}

#buttonStyle {
    font-weight: bold;
}

#buttonStyle:hover {
    background-color: #0dcaf0;
}

.container {
    background: #b19cd9;
    border-radius: 5px;
    padding-right: 5em;
    padding-left: 5em;
    margin-right: 5em;
    margin-left: 5em;

}

footer {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    font-family: "Times New Roman", Times, serif;
    margin-top: 20em;
    width: 100%;
    position: absolute;
    background-color: #b19cd9;
}